html {
    color: antiquewhite;
    background-color: #0B0B0B;
}
header {
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}

.h1-text {
    display: flex;
    justify-content: center;

}

header h1 {
    margin: 0;
    text-align: center;
    margin-left: 20px;
}
#aurum {
    color: #D4AF37;
    margin-right: 10px;
}
#gold {
    color: white;
    margin-right: 50px;

}
.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 0 10px;
}

button #transparent-btn {
    background-color: transparent;
    border: 2px solid #D4AF37;
    color: #D4AF37;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

